<div class="form-row">
    <div class="form-item">
        <label for="customer">Customer</label>
        <select id="customer" name="customer" >
            <% customers.forEach(customer => { %>
                <% if (customer.id === invoice.customer) { %>
                    <option selected label= "<%= customer.companyName %>" value="<%= customer.id %>"></option>
                <% } else {  %>
                    <option label= "<%= customer.companyName %>" value="<%= customer.id %>"></option>
                <% } %>
            <% }) %>
        </select>
    </div>
    <div class="form-item">
        <div class="form-row">
            <div class="form-item">
                <label for="date">Invoice Date</label>
                <!-- Books Index/Create/New Routes - Node.js/Express/MongoDB Course #3  -->
                <input type="date" id="invoiceDate" name="date" value="<%= invoice.date == null ? '' : invoice.date.toISOString().split('T')[0]; %>"></input>
            </div>
            <div class="form-item">
                <label for="date">Ship Date</label>
                <input type="date" id="shipDate" name="shipDate" value="<%= invoice.shipDate == null ? '' : invoice.shipDate.toISOString().split('T')[0]; %>"></input>
            </div>
        </div>
    </div>
    
</div>

<div class="form-row">
    <div class="form-item">
        <label>Search Product</label>
        <input type="text" id="searchProductInput" name="description" value= " " >
        <div class="form-row">
            <button id="searchProductBtn" class="btn btn-primary" type="button">Search</button>
        </div>
    </div>
    <div class="form-item">
        <div id='datatest' data-mydata="<%= products %>"></div>
        <label for="selectedProduct">Search Results</label>
        <select id="selectedProduct" name="selectedProduct" >
            <option value="" disabled selected>Select Search Results Here</option>
        </select>
        <div class="btn-row">
            <button type="button" class="btn btn-primary" id="addProduct">Add Product</button><br />
        </div>
    </div>
    <div class="form-item">
        <div id='datatest' data-mydata="<%= products %>"></div>
        <label for="selectedMPN">Scan Product MPN</label>
        <input type='text' id="selectedMPN" name="selectedMPN"></input>
        <div class="btn-row">
            <button type="button" class="btn btn-primary" id="addProductMPN">Add Product</button><br />
        </div>
    </div>
   
</div>

<h2>Product List</h2>

<div id="productList">
    <table class="invoice-table">
        <thead>
            <tr>
                <th id="source-header">Source</th>
                <th id="notes-header">Notes</th>
                <th id="mpn-header">MPN</th>
                <th id="mpn-header">Item Number</th>
                <th id="mpn-header">Product Id</th>
                <th id="description-header">Description</th>
                <th id="price-header">Price</th>
                <th id="quantity-header">Quantity</th>
                <th id="amount-header">Amount</th>
                <th id="status-header">Done Status</th>
                <th id="action-header">Action</th>
                <!-- add a table row for each item in the array of items -->
        </thead>
        <tbody class="tableBody">
            <% invoice.items.forEach((item, index) => { %>
                <tr class="table-row <%= !!item.status ? 'done' : '' %>">
                    <td><input class="source" id="<%= item.source %>" type="text" name="items[<%= index %>][source]" value="<%= item.source %>"></td>
                    <td class="notes"><input class="notes" id="<%= item.notes %>" type="text" name="items[<%= index %>][notes]" value="<%= item.notes %>"></td>
                    <td><input class="mpn" id="<%= item.id %>" type="text" readonly name="items[<%= index %>][mpn]" value="<%= item.mpn %>"></td>
                    <td><input class="itemNumber" id="<%= item.itemNumber %>" type="text" readonly name="items[<%= index %>][itemNumber]" value="<%= item.itemNumber %>"></td>
                    <td><input class="productId" id="<%= item.productId %>" type="text" readonly name="items[<%= index %>][productId]" value="<%= item.productId %>"></td>
                    <td class="description"><input class="description" id="<%= item._id %>" type="text" readonly name="items[<%= index %>][description]" value="<%= item.description %>"></td>
                    <td><input class="price" type="text"  readonly data-<%= item.productId %>price="<%= item.price%>" name="items[<%= index %>][price]" value="<%= parseFloat(item.price).toFixed(2) %>"></td>
                    <td><input class="quantity" type="number" placeholder="1" name="items[<%= index %>][quantity]" data-<%= item.productId %>qty="<%= item.quantity %>" value="<%= item.quantity %>"></td>
                    <td><input class="subTotal" type="text" readonly name="items[<%= index %>][subTotal]" data-<%= item.productId %>subtotal="<%= item.id %>" value="<%= parseFloat(item.subTotal).toFixed(2) %>"></td>
                    <td><input type="checkbox" name="items[<%= index %>][status]" value="true" class="done" id="doneCheckbox_<%= index %>" <%= item.status ? 'checked' : '' %>></td>
                    <td><button type="button" class="btn btn-danger">Remove</button></td>
                 </tr>
               <% }) %>
        </tbody>
    </table>
</div>

<div class="form-row">
    <div class="form-item">

    </div>
    <div class="form-item"><br>
        <label for="totalSum">Total</label> 
        <div class="form-row">
            <div class="form-item">
                <input type="text" id="totalSum" readonly name="totalAmount" value="<%= parseFloat(invoice.totalAmount).toFixed(2) %>">
            </div>
        </div>
    </div>
</div>