<div class="invoice-content">

    <div class="invoice-row">
        <div class="invoice-item">
            <h2>51 Trading Inc.</h2>
            <p>401 W 220th Street #15 <br>
                Carson, CA 90745</p>
        </div>
    
        <div class="invoice-item">
            <h2>Invoice</h2>
            <div class="invoice-row">
                <div class="invoice-item">
                    <p><b>Invoice #:</b>     <%= invoice.invoiceNumber %><br>
                        <b>Invoice Date:</b> <%= invoice.date.toISOString().split('T')[0]; %><br>
                        <b>Ship Date:</b>    <%= invoice.shipDate.toISOString().split('T')[0]; %></b></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="invoice-row margin-bottom">
        <div class="invoice-item alilgn-left">
            <table class="table-striped fifty">
                <tr>
                    <th>
                        Bill to:
                    </th>
                </tr>
                <tr>
                    <td>
                        <p><%= invoice.customer.companyName %> <br>
                            <%= invoice.customer.address.street %> <br>
                            <%= invoice.customer.address.city %> <%= invoice.customer.address.state %>, <%= invoice.customer.address.zipcode %> <%= invoice.customer.address.country %> <br>
                            <%= invoice.customer.phoneNumber %> <br>
                            <%= invoice.customer.faxNumber %> <br>
                        </p>
                        <p></p>
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="invoice-item align-right">
            <table class="table-striped fifty">
                <tr>
                    <th>
                        Ship to:
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>
                            <%= invoice.customer.companyName %> <br>
                            <%= invoice.customer.address.street %> <br>
                            <%= invoice.customer.address.city %> <%= invoice.customer.address.state %>, <%= invoice.customer.address.zipcode %> <%= invoice.customer.address.country %> <br>
                            <%= invoice.customer.phoneNumber %> <br>
                            <%= invoice.customer.faxNumber %> <br>
    
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="table-container">
        <div class="invoice-row">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>MPN</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% invoice.items.forEach(item => { %>
                        <tr>
                            <td><%= item.itemNumber %></td>
                            <td><%= item.description %></td> 
                            <td><svg id="id<%= item.mpn %>" class="barcode" data-mpn="<%= item.mpn %>"></svg></td>
                            <td><%= item.quantity %></td>
                            <td>$<%= parseFloat(item.price).toFixed(2) %></td> 
                            <td>$<%= parseFloat(item.subTotal).toFixed(2) %></td> 
                        </tr>
                        <%  }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><p class="small-print">
                            Customer shall inspect all merchandise immediatelly upon receipt there of all claims for damages or shortages of merchandise, if any must be made in writing on original signed invoice when merchandise is delivered. The total amount of the invoice must be paid in full within 30 days of its invoice date.
                        </p></td>
                        <td colspan="3"><b>Total Amount:</b> $<%= parseFloat(invoice.totalAmount).toFixed(2) %></td>
                    </tr>
                </tfoot>
            </table>
           
    </div>

    <!-- The container for the signature feature -->
   
    <div id="signInvoiceContainer" class="hide">
        <h2 class="page-header no-print" data-invoiceId = '<%= invoice.id %>' >Sign Invoice</h2>
    
        <div class="wrapper no-print">
          <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
        </div>
        
        <!-- hidden signature input field -->
        <div class="form-row no-print">
            <div class="form-item">
                <input type="hidden" name="signature" id="signatureInput" value="<%= invoice.signature %>">
            </div>
        </div>
        
        <div class="no-print">
          <button class="btn btn-primary" id="save">Save</button>
          <button class="btn btn-primary" id="clear">Clear</button>
        </div>
    </div>

    <div id="signatureWrapper no-print">
        <img id="customerSignature" src="<%= invoice.signature %>" alt="customer signature">
    </div>
    
    
    <div class="invoice-row no-print">
        <div class="btn-row">
            <button id="signInvoiceBtn" class="btn btn-primary" type="button">Sign</button>
            <a class="btn btn-primary" href="/invoices/<%= invoice.id %>/edit">Edit</a>
            <button id="copyInvoiceBtn" class="btn btn-primary" type="button">Copy</button>
            <button id="printInvoiceBtn" class="btn btn-primary" type="button">Print</button>
            <a class="btn btn-primary" href="/invoices/<%= invoice.id %>/pdf">Download PDF</a>
            <%- include('../partials/deleteForm', { url: `/invoices/${invoice.id}` }) %>
        </div>
    </div>

</div>