<h2 class="page-header">Search Products</h2>
<form action="/products" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Product</label>
            <input type="text" name="description" value= "<%= searchOptions.description %>" >
        </div>
    </div>
   <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
   </div>
</form>
<br>

<table class="table-striped">
    <thead>
        <th>Product Description</th>
        <th>MPN</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
            <tr>
                <td><%= product.description %></td>
                <!-- <td><svg id="id<%= product.mpn %>" class="barcode" data-mpn="<%= product.mpn %>"></svg></td> -->
                <td><%= product.mpn %></td>
                <td><div class="btn-row no-margin">
                    <a class="btn btn-primary" href="/products/<%= product.id %>">View</a>
                     <a class="btn btn-primary" href="/products/<%= product.id %>/edit">Edit</a>
                    <%- include('../partials/deleteForm', { url: `/products/${product.id}` }) %>
                </div></td>
            </tr>
        <%})%>
    </tbody>
</table>