
<div class="form-row">
    <div class="form-item">
        <label>Company Name</label>
        <input type="text" name="companyName" value="<%= customer.companyName %>"><br>
    </div>
    <div class="form-item">
        <label>Email</label>
        <input type="text" name="email" value="<%= customer.email %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Phone Number</label>
        <input type="text" name="phoneNumber" value="<%= customer.phoneNumber %>">
    </div>
    <div class="form-item">
        <label>Fax Number</label>
        <input type="text" name="faxNumber" value="<%= customer.faxNumber %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Address</label>
        <input type="text" name="street" value="<%= customer.address.street %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>City</label>
        <input type="text" name="city" value="<%= customer.address.city %>"><br>
    </div>
    <div class="form-item">
        <label>State</label>
        <input type="text" name="state" value="<%= customer.address.state %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Zipcode</label>
        <input type="text" name="zipcode" value="<%= customer.address.zipcode %>">
    </div>
    <div class="form-item">
        <label>Country</label>
        <input type="text" name="country" value="<%= customer.address.country %>">
    </div>
</div>


